
  img {
    position: absolute;
    top: 0;
    right: 5vw;
    width: 200px;
  }
  
  @media (min-width: 800px){
    img { width: 200px; }
  }
  
  
 .foot {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
  }
  
  #red {
    background: radial-gradient(circle at 0% 100%, rgba(255,0,0,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #orange {
    background: radial-gradient(circle at 40% 100%, rgba(255,125,0,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #yellow {
    background: radial-gradient(circle at 80% 100%, rgba(255,255,0,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #green {
    background: radial-gradient(circle at 0% 100%, rgba(0,255,0,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #blue {
    background: radial-gradient(circle at 40% 100%, rgba(0,0,255,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #indigo {
    background: radial-gradient(circle at 80% 100%, rgba(0,125,255,1) 0%, rgba(0,0,0,0) 50%); 
  }
  
  #violet {
    background: radial-gradient(circle at 80% 100%, rgba(255,0,125,1) 0%, rgba(0,0,0,0) 50%); 
  }
  