.navbar {
    display: flex;
    align-items: center;
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}



.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    font-size: 150%;
    color:whitesmoke; 
    vertical-align: middle;
} 