@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


body {
    margin: 0;
    z-index: 99 !important;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background:  #212121;
    color: whitesmoke !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}