/* .main-table {
    margin-left: 15%;
    margin-right:15%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 70%;
    height: 70%;
    border-bottom: darkblue solid;
    border-top: darkblue solid;
}

.header {
    text-align: center;
}
 */

 h1 {
    text-align: center;
    color: whitesmoke;
    font-family: Montserrat, sans-serif;

  }
  .item-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2em;
  }
  .card {
    text-align: center;
    color: whitesmoke;
    font-family: Montserrat, sans-serif;

    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    padding: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .img {
    height: 100px;
    width: auto;
  }