.body {
    background-image: linear-gradient(to right, #fc5c7d, #6a82fb );
    position: fixed;
}

.update-form {
    margin-left: 15%;
    margin-right:15%;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 70%;
    height: 70%;
}

form {
    
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid white;
    border-top: 1px solid white;
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
    
    }
    
    input {
        display: inline-block;
        background: transparent;
        width: 200px;
        padding: 1em;
        margin-bottom: 2em;
        border: none;
        border-left: 1px solid white;
        border-top: 1px solid white;
        border-radius: 5000px;
        backdrop-filter: blur(5px);
        box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
        color: #fff;
        font-family: Montserrat, sans-serif;
        font-weight: 500;
        transition: all 0.2s ease-in-out;
        text-shadow: 2px 2px 4px rgba(0,0,0,0.2); 
        }
        
    
      
    