
@import url("https://images.cdn1.stockunlimited.net/preview1300/food-background_1305819.jpg");
body {
    margin: 0;
    background-image: linear-gradient(to right, #8e2de2, #4a00e0);
}

main {
    margin: 16px;
}